
h1{
  font-size: 28pt;  
  padding-left: 20px;
}

h1 a{ 
  text-decoration: none;
  color: #000;
}

ul#repos {
  margin: 0;
  padding-left: 20px;
  float: left;
  width: 200px;
  list-style: none;
  margin-top: 60px;
  font-family: arial, sans-serif;
  font-size: 10pt;
}

ul#repos li{
  margin-bottom: 6px;
}

ul#repos a{
  text-decoration: none;
  color: #101010;
} 

ul#repos a:hover{
  font-weight: bold; 
}

ul#commits{
 list-style: none;
 float: left;
 width: 760px;
}

ul#commits li {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 760px;
  overflow: hidden;
}

ul#commits li .date{
  display: block;
  width: 50px;
  height: 60px;
  float: left;
  margin-right: 10px;
  margin-bottom: 30px;
}

ul#commits li .date span.day{
  display: block;
  width: 50px;
  height: 30px;
  background-color: #800000;
  color: #fff;
  font-size: 26px;
  text-align: center;
  line-height: 30px;
}

ul#commits li .date span.month{
  display: block;
  width: 48px;
  height: 18px;
  border: 1px solid #000;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
}

ul#commits li .date span.year{
  display: block;
  width: 50px;
  height: 12px;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

span.project{
  font-size: 14pt;
  font-weight: bold;
  margin-right: 10px;
}

ul#commits li li{
  border: none;
  margin: 0;
}

ul#commits li ul{
  float: left;
  width: 600px;
  font-size: 10pt;
}

span.time{
  font-size: 8.5pt;
}
